.guess-form {
    margin-top: 50px;
    text-align: center;
    border: 2px solid black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.form-item {
    margin: 15px;
}

.feedback {
    background-color: #CC384B;
}

.input {
    font-size: 16px;
}

.history {
    background-color: #4DA8AB;
}

button {
    padding: 10px;
    border: 1px solid white;
    background-color: #394264;
    border-radius: 15px;
    width: 100px;
    font-size: 16px;
    color: white;
}